#main
	padding 90px 0
	min-height calc(100vh - 76px)
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding 40px 0
.general-img-main-stars
	width 494px
	height: 372px
	background: url(../img/images/plan-stars-1.png) no-repeat center
	background-size contain
	top 0
	right -100px
	@media screen and (max-width 991px)
		position: static
		display block
		margin 30px auto 0
	@media screen and (max-width 560px)
		width 300px
		height: 200px
		margin-top: 10px
	@media screen and (max-width 386px)
		width 220px
		height: 120px
.general-main-back
	width 435px
	height: 435px
	background: url(../img/backs/blur.png) no-repeat center
	background-size: contain
	top -50px
	left 0
	@media screen and (max-width 560px)
		width: 300px
		height: 300px
	@media screen and (max-width 386px)
		top 0
		left -60px
.main-title
	font-size: 30px
	font-weight: bold
	color mP
	line-height: 110%
	margin-bottom: 30px
	@media screen and (max-width 991px)
		font-size: 24px
		margin-bottom: 20px
	@media screen and (max-width 386px)
		font-size: 20px
.main-text
	font-size: 20px
	margin-bottom: 20px
	line-height: 110%
	@media screen and (max-width 991px)
		font-size: 18px
	@media screen and (max-width 386px)
		margin-bottom: 10px
	span
		font-weight: bold
.button-main
	margin-bottom: 35px
	@media screen and (max-width 386px)
		margin-bottom: 20px