#main
	position relative
	background: url(../img/backs/main.png) no-repeat center
	background-size: cover
	padding: 120px 0 250px
.general-img-main-1
	width 55px
	height: 90px
	background: url(../img/images/star-main-1.png) no-repeat center
	background-size cover
	top -100px
	left 100px
.general-img-main-2
	width 32px
	height: 49px
	background: url(../img/images/star-main-2.png) no-repeat center
	background-size cover
	top 130px
	left -40px
.date
	display flex
	&-item
		background-repeat: no-repeat
		padding 0 40px
		min-height 40px
		display flex
		align-items: center
		&:nth-of-type(1)
			// padding 0 40px 0 60px
			background-image: url(../img/icons/calendar.png)
			background-position: center left
		&:nth-of-type(2)
			background-image: url(../img/icons/time.png)
			// margin 0 40px
			border-right: 3px solid mP
			border-left: 3px solid mP
			padding 0 40px 0 80px
			background-position: center left 40px
		&-text
			color mP
			span
				font-weight: bold
.main
	&-pre
		font-size: 24px
		margin 75px 0 20px
	&-title
		font-size: 50px
		font-weight: bold
		color mP
		line-height: 100%
		width 100%
		max-width 550px
	&-subtitle
		font-size: 24px
		width 100%
		max-width: 290px
		margin 25px 0 75px
	&-author
		position absolute
		bottom: -120px
		right 10%
		font-size: 16px
		max-width 152px
		span
			display block