#video
	padding 90px 0
.general-img-back
	width 764px
	height: 764px
	background url(../img/backs/video.png) no-repeat center
	background-size: contain
	top 0
	left -150px
.general-img-video-stars
	width 400px
	height: 442px
	background: url(../img/images/video-stars.png) no-repeat center
	background-size: contain
	top 0
	right -150px
.video-content
	position relative
	margin 50px 0 70px 2%
	max-width 1100px
	&-img
		display block
.play-button
	cursor pointer
	position absolute
	width 80px
	height: 80px
	border-radius 50%
	margin 0 auto
	left 0
	right 0
	top calc(50% - 40px)
	// background-color #fff
	box-shadow: 0 0 0 13px rgba(#fff, .5)
	background: #fff url(../img/icons/play.png) no-repeat center
	background-size: auto
	transition: all .7s ease
	&:hover
		box-shadow: 0 0 0 15px rgba(#fff, .8)