#video
	padding 90px 0
.general-img-video-back
	width 698px
	height: 698px
	background url(../img/backs/blur.png) no-repeat center
	background-size: contain
	top 0
	left -150px
.general-img-video-stars
	width 400px
	height: 465px
	background: url(../img/images/video-stars.png) no-repeat center
	background-size: contain
	top 0
	right -150px
.video-content
	position relative
	margin 50px 0 70px 7.8%
	max-width 964px
	&-img
		display block
.play-button
	cursor pointer
	position absolute
	width 80px
	height: 80px
	border-radius 50%
	margin 0 auto
	left 0
	right 0
	top calc(50% - 40px)
	// background-color #fff
	box-shadow: 0 0 0 13px rgba(#fff, .5)
	background: #fff url(../img/icons/play.png) no-repeat center
	background-size: auto
	transition: all .7s ease
	animation: pulse
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	&:hover
		animation-play-state: paused
@keyframes pulse
	0%
		box-shadow: 0 0 0 0px rgba(#fff, .5)
	50%
		box-shadow: 0 0 0 13px rgba(#fff, .5)
	100%
		box-shadow: 0 0 0 0 rgba(#fff, .5)