#about
	padding 30px 0 90px
	@media screen and (max-width 1199px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding 40px 0
.general-img-about-back
	width 435px
	height: 435px
	background: url(../img/backs/blur.png) no-repeat center
	background-size: contain
	top -80px
	right 0
	@media screen and (max-width 1199px)
		top: 150px
	@media screen and (max-width 560px)
		width 309px
		height: 309px
		top -60px
		right -80px
.general-img-about-1
	width 52px
	height: 102px
	background: url(../img/images/star-1.png) no-repeat center
	background-size contain
	top 0
	right -80px
	@media screen and (max-width 1199px)
		right 0
		top 70px
	@media screen and (max-width 560px)
		background: none
		display none
.general-img-about-2
	width 52px
	height: 82px
	background: url(../img/images/star-2.png) no-repeat center
	background-size contain
	left: -50px
	bottom: 200px
.general-title-about
	margin-bottom: 70px
	@media screen and (max-width 560px)
		margin-bottom: 55px
.abouts
	width 100%
	max-width 960px
	margin 0 auto 25px
	display flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	@media screen and (max-width 560px)
		margin-bottom: 0
	&-item
		width 100%
		max-width 460px
		position relative
		border-radius: 35px
		padding 40px 35px
		border: 2px solid mP
		margin: 0 auto 55px
		min-height 185px
		display flex
		align-items: center
		justify-content: center
		@media screen and (max-width 991px)
			min-height 1px
		@media screen and (max-width 560px)
			margin-bottom: 36px
		&:before
			content: ''
			display block
			position absolute
			width 40px
			height: 40px
			border-radius: 50%
			background-color: mP
			top -20px
			left 35px
			@media screen and (max-width 560px)
				width 36px
				height: 36px
				top -18px
		&:after
			content: ''
			display block
			position absolute
			top -8px
			left 46px
			width 19px
			height: 12px
			border-bottom: 3px solid #fff
			border-left: 3px solid #fff
			transform: rotate(-39deg)
			@media screen and (max-width 560px)
				width 18px
				height: 11px
				top -7px
				left 45px