#about
	padding 30px 0 90px
.general-img-about-back
	width 435px
	height: 435px
	background: url(../img/backs/blur.png) no-repeat center
	background-size: contain
	top -80px
	right 0
.general-img-about-1
	width 52px
	height: 102px
	background: url(../img/images/star-1.png) no-repeat center
	background-size contain
	top 0
	right -80px
.general-img-about-2
	width 52px
	height: 82px
	background: url(../img/images/star-2.png) no-repeat center
	background-size contain
	left: -50px
	bottom: 200px
.abouts
	width 100%
	max-width 960px
	margin 0 auto 25px
	display flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	&-item
		width 100%
		max-width 460px
		position relative
		border-radius: 35px
		padding 40px 35px
		border: 2px solid mP
		margin: 0 auto 55px
		min-height 185px
		display flex
		align-items: center
		justify-content: center
		&:before
			content: ''
			display block
			position absolute
			width 40px
			height: 40px
			border-radius: 50%
			background-color: mP
			top -20px
			left 35px
		&:after
			content: ''
			display block
			position absolute
			top -8px
			left 46px
			width 19px
			height: 12px
			border-bottom: 3px solid #fff
			border-left: 3px solid #fff
			transform: rotate(-39deg)