#author
	padding 90px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding: 0
.general-title-dt
	@media screen and (max-width 991px)
		display none
.general-title-mob
	display none
	@media screen and (max-width 991px)
		display block
		font-size: 36px
		span
			@media screen and (max-width 560px)
				display block
				margin-left: 63px
.general-img-author-back
	width 600px
	height: 600px
	background: url(../img/backs/blur.png) no-repeat center
	background-size contain
	bottom: 100px
	left -50px
	@media screen and (max-width 1199px)
		background: none
		display none
.general-img-author
	width 48px
	height: 76px
	background: url(../img/images/star-1.png) no-repeat center
	background-size contain
	top 350px
	left 0
	@media screen and (max-width 1199px)
		top 320px
		left -20px
	@media screen and (max-width 767px)
		background: none
		display none
.author
	&-img
		display block
		margin 0 auto
		position relative
		z-index 20
		top -50px
		left -200px
		@media screen and (max-width 991px)
			position: static
		@media screen and (max-width 560px)
			display none
		&-mob
			display none
			@media screen and (max-width 560px)
				display block
				margin: 0 0 -30px 0
	&-info
		position relative
		&-img
			position absolute
			top 0
			right -85px
			@media screen and (max-width 991px)
				display none
.general-list-author
	text-align right
	padding 60px 0 130px
	@media screen and (max-width 991px)
		padding 0 0 50px
		text-align left
	@media screen and (max-width 560px)
		padding 0
	li
		padding 0 40px 0 0
		max-width 470px
		margin: 0 0 35px auto
		@media screen and (max-width 991px)
			padding 0 0 0 30px
			max-width none
			margin 0 0 20px !important
		&:before
			width 25px
			height: 25px
			left auto
			right 0
			top calc(50% - 14px)
			@media screen and (max-width 991px)
				top 0
				left 0
				width 18px
				height: 18px
		&:after
			left auto
			right 6px
			top calc(50% - 4.5px)
			width 12px
			height: 7px
			border-width: 3px
			@media screen and (max-width 991px)
				top 6px
				left 5px
				width 9px
				height: 5px
				border-width: 2px
		&:nth-child(2)
			margin-right: 64px
		&:nth-child(3)
			margin-right: 113px
		&:nth-child(4)
			margin-right: 151px
		&:nth-child(5)
			margin-right: 181px
		&:nth-child(6)
			margin-right: 202px
		&:nth-child(7)
			margin-right: 212px
		&:nth-child(8)
			margin-right: 209px
		&:nth-child(9)
			margin-right: 184px
		&:nth-child(10)
			margin-right: 102px
.button-author
	@media screen and (max-width 560px)
		display none