#revs
	padding 60px 0 150px
	@media screen and (max-width 1199px)
		padding 40px 0 150px
.general-img-revs-back
	@media screen and (max-width 1199px)
		width 536px
		height: 536px
		background: url(../img/backs/blur.png) no-repeat center
		background-size contain
		top -160px
		left -50px
		z-index -1
.slick-dotted.slick-slider
	margin 0 auto
	width 100%
	max-width 940px
	@media screen and (max-width 1199px)
		max-width 770px
	@media screen and (max-width 991px)
		max-width 660px
.revs-slider-text.slick-dotted.slick-slider
	margin-bottom: 120px
.slick-list
	width 100%
	max-width 590px
	margin 0 auto
.text-rev-link
	display block
	margin 0 5px
	overflow hidden
.text-rev-img
	border: 3px solid #4E4C4C
	border-radius: 45px
	width 100%
	max-width 248px
	margin 0 auto
	display block
.slick-dots
	bottom: -50px
	left 0
	right 0
	margin: 0 auto
	li
		width 16px
		height: 16px
		background: #F0DFFC
		border-radius: 50%
		margin 0 10px
		transition: all .6s ease
		@media screen and (max-width 991px)
			margin 0 5px
			width 12px
			height: 12px
		@media screen and (max-width 560px)
			margin 0 2px
			width 7px
			height: 7px
		& button:before
			content: none
		&.slick-active
		&:hover
			background: mP
.slick-next,
.slick-prev
	width: 46px
	height: 46px
	border-radius: 50%
	transition: all .6s ease
	&:before
		content: none
.slick-prev
	background: #F0DFFC url(../img/icons/prev.png) no-repeat center
	background-size auto
	&:focus
		background: #F0DFFC url(../img/icons/prev.png) no-repeat center
	&:hover
		background: #D9D9D9 url(../img/icons/prev.png) no-repeat center
.slick-next
	background: #F0DFFC url(../img/icons/next.png) no-repeat center
	background-size auto
	&:focus
		background: #F0DFFC url(../img/icons/next.png) no-repeat center
	&:hover
		background: #D9D9D9 url(../img/icons/next.png) no-repeat center