footer
	padding 20px 0
	text-align: center
	background-color: rgba(#eee,.7)
	font-size: 14px
	@media screen and (max-width 560px)
		font-size: 12px
		padding 10px 0
.conditions
	color #000
	text-decoration: underline
	&:focus
		color #000
		text-decoration: underline
	&:hover
		color: #000
		text-decoration: none