section#main
	//- +imgs('main-bg', 'img/backs/main.png','Жанна Абрамова')
	//- .wrapper-abs.wrapper-abs-main
	.container
		.content
			.general-img.general-img-main-1
			.general-img.general-img-main-2
			.date
				.date-item
					p.date-item-text 17-19 
						span октября
				.date-item
					p.date-item-text 19:00 
						span МСК
				.date-item
					p.date-item-text
						span  Бесплатный онлайн 
							br
							| мастер-класс
			p.main-pre Проективный метод современной психологии
			h1.main-title Метафоричекие ассоциативные карты
			h2.main-subtitle решение самых сложных жизненных вопросов
			p.main-author Спикер
				span Жанна Абрамова
			+b('button-up', href, 'Принять участие')