section#video
	.container
		.content
			.general-img.general-img-video-back
			.general-im.general-img-video-singlestar
			.general-img.general-img-video-stars
			.row
				.col-md-9
					+gt('', 'Почему не только психологам необходимо изучить метод современной проективной психологии МАК')
					ul.general-list
						li Подходят для решения острых, сложных на первый взгляд нерешаемых вопросов в сфере отношений, финансов и предназначения.
						li Экологично извлекают необходимую информацию не насилуя психику.
						li Не требуют профильного психологического образования для использования.
						li Подходят для выстраивания доверительных отношений и коммуникаций с детьми. Через ассоциации вы узнаете о своем ребенке больше, чем через “разговор по душам”.
						li Возможность проводить самоанализ и находить ответы в сложных кризисных ситуациях.
						li Возможность начать консультационную деятельность и в сжатые сроки выйти на достойный доход.
	.video-content
		+imgs('video-content-img', 'img/images/video.png', 'Видео')
		a.play-button(href="javascript:void(0);")
	.container
		+b('button-up', href, 'Хочу узнать подробнее')