section#about
	.container
		.content
			.general-img.general-img-about-back
			.general-img.general-img-about-1
			.general-img.general-img-about-2
			+gt('', 'Почему психологам необходимо владеть метафорическими ассоциациативными картами?')
			.abouts
				.abouts-item
					p.abouts-item-text Данный проективный метод не содержит в себе строгих норм и ограничений, направлен на качественный анализ. 
				.abouts-item
					p.abouts-item-text Отличительной особенностью является максимально глубокое и целостное изучение личности, выявление скрытых мотивов, внутриличностных конфликтов и переживаний.
				.abouts-item
					p.abouts-item-text Быстрый выход на результат, без долгих сеансов психотерапии, изматывающих клиента и  психолога.
				.abouts-item
					p.abouts-item-text Выстраивают крепкие и долгосрочные контакты с клиентом.
				//- .row
				//- 	.col-md-4.col-sm-4.col-md-offset-2
				//- 		.abouts-item
				//- 			p.abouts-item-text Данный проективный метод не содержит в себе строгих норм и ограничений, направлен на качественный анализ.
				//- 	.col-md-4.col-sm-4
				//- 		.abouts-item
				//- 			p.abouts-item-text Отличительной особенностью является максимально глубокое и целостное изучение личности, выявление скрытых мотивов, внутриличностных конфликтов и переживаний.
				//- .row
				//- 	.col-md-4.col-sm-4.col-md-offset-2
				//- 		.abouts-item
				//- 			p.abouts-item-text Быстрый выход на результат, без долгих сеансов психотерапии, изматывающих клиента и  психолога.
				//- 	.col-md-4.col-sm-4
				//- 		.abouts-item
				//- 			p.abouts-item-text Выстраивают крепкие и долгосрочные контакты с клиентом.
			+b('button-up', href, 'Записаться на мастер-класс')