section#plan
	.container
		.content
			.general-img.general-img-plan-stars-1
			.general-img.general-img-plan-back
			.general-img.general-img-plan-1
			.general-img.general-img-plan-stars-2
			+gt('', 'Что ждет Вас на мастер-классе?')
			.days
				.day
					h4.day-title День 1
					ul.general-list
						li Основные принципы работы с метафорическими ассоциативными картами
						li Почему метафорические ассоциативные карты может использовать абсолютно каждый человек
						li Как использовать метафорические ассоциативные карты в самоанализе
						li Запросы, с которыми работают метафорические ассоциативные карты
						li Подводные камни при использовании метафорических ассоциативных карт, о чем вам не расскажут другие
						li
							span Практические техники работы с метафорическими ассоциативными  картами на каждый день.
				.day
					h4.day-title День 2
					ul.general-list
						li Как при работе с метафорическими ассоциативными картами начать консультационную деятельность
						li Выстраивание доверительных отношений с клиентом
						li Как получить стабильный доход от работы с метафорическими ассоциативными картами
						li Ошибки при работе с метафорическими ассоциативными картами в консультационной деятельности
						li
							span Авторские техники работы с метафорическими ассоциативными картами.
				.day
					.general-img.general-img-plan-1.general-img-plan-1-day
					.general-img.general-img-plan-2.general-img-plan-2-day
					h4.day-title День 3
					ul.general-list
						li Практические демонстрационные сессии по вашим запросам
						li Разбираем любую проблематику с помощью метафорических ассоциативных карт
						li Вы можете оставить заявку на разбор вашего вопроса Жанной Абрамовой на вебинаре, и лично принять в нем участие
			+b('button-up', href, 'Записаться на&nbsp;мастер-класс')