section#author
	.container
		.content
			.general-img.general-img-author-back
			.general-img.general-img-author
			+gt('general-title-dt', 'Жанна Абрамова')
			.row
				.col-md-4.col-md-push-8
					+imgs('author-img author-img-dt', 'img/images/janna.png', 'Жанна Абрамова')
					+imgs('author-img author-img-mob', 'img/images/janna-min.png', 'Жанна Абрамова')
					h3.general-title.general-title-mob Жанна 
						span Абрамова
				.col-md-8.col-md-pull-4
					.author-info
						+imgs('author-info-img', 'img/images/ellipse.png', 'Рамка')
						ul.general-list.general-list-author
							li
								span Более 15 лет
								|  практической работы с клиентами.
							li
								span Более 10000
								|  выпускников окончивших курсы и обучающие программы.
							li
								span Эксперт федеральных каналов.
							li
								span Ведущий преподаватель
								|  “Института современной психологии”.
							li
								span Клинический психолог, гештальт-терапевт.
							li
								span Мастер
								|  практической психологии и технологий осознанности.
							li
								span Коуч, тренер
								|  обучающих и трансформационных программ.
							li
								span Мастер ДСТ
								|  (терапия диссоциированных состояний).
							li
								span Процессор техник РПТ,
								|  терапевт новой германской медицины.
							li
								span Автор
								|  курсов по новой системной психологии, системной терапии, коучинга.
			+b('button-up button-author', href, 'Хочу на мастер-класс')