section#main
	.container
		.content
			.general-img.general-main-back
			.row
				.col-md-8
					h1.main-title У меня к вам просьба, прямо сейчас кликнуть на кнопку и перейти в Telegram-канал
					p.main-text В нем вы сможете получать информацию о методах современной психологии. А также в канале вам будут приходить напоминания о старте мастер-класса, на который вы зарегистрировались, и ссылки на вебинарные комнаты.
					p.main-text
						span Присоединяйтесь
					a.button.button-main(href='https://t.me/+hDZNaECfJ542Mjgy')
						+imgs('', 'img/icons/tg.png','Telegram')
						|  Присоединиться
					p.main-text Обязательно оставляйте 
						span включенным уведомления,
						|  чтобы не&nbsp;пропустить начало.
			.general-img.general-img-main-stars