section#main
	.container
		.content
			.general-img.general-main-back
			.row
				.col-md-8
					h1.main-title
						span УПС!
						br
						| Я не могу отправить рассылку на мастер-класс, тебе нужно подтвердить свою почту.
					p.main-text
						span  Перейди в свою почту
					<div class="posts"><a class="post-link" href="https://mail.yandex.ru/" target="_blank"><img class="post-icon" src="../img/icons/yandex.png" alt="Яндекс"/></a><a class="post-link" href="https://e.mail.ru/messages/inbox/" target="_blank"><img class="post-icon" src="../img/icons/mailru.png" alt="Mailru"/></a><a class="post-link" href="https://mail.google.com/mail" target="_blank"><img class="post-icon" src="../img/icons/gmail.png" alt="Gmail"/></a><a class="post-link" href="https://mail.yahoo.com/" target="_blank"><img class="post-icon" src="../img/icons/yahoo.png" alt="Yahoo"/></a></div>
					p.main-text Не нашли письмо? Проверьте папку 
						span промоакции, оповещения или спам
			.general-img.general-img-main-stars